html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: clamp(1.5rem, 3vw, 3rem);
}
